.friendList {
  margin: 0px;
  margin-left: 50px;
  padding: 0px;
  display: inline-block;
  border: 1px solid #ccc;
  margin-top: 50px;
  margin-left: 50px;
}

.item {
  display: flex;
  border: none;
  margin-bottom: 30px;
  width: 400px;
  background-color: rgb(256, 256, 256);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.avatar {
  padding: 10px;
}

.name {
  font-size: 25px;
  font-weight: 700;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
  color: rgb(0, 0, 0);
}

.statusOn,
.statusOff {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-top: 30px;
  margin-left: 15px;
}

.statusOn {
  background-color: green;
}

.statusOff {
  background-color: red;
}
