.transactions {
  margin-left: 30px;
  margin-top: 50px;
  min-width: 650px;
  border-top: 5px;
  border-bottom: 3px;
  border-collapse: collapse black;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  font-size: 16px;
}

.transactions th {
  padding: 10px;
  border: none;
  color: #fff;
  background: #51c4e0;
  font-size: 25px;
  text-align: center;
}

.transactions td {
  padding: 10px;
  border: none;
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
}

.transactions tbody tr:nth-child(even) {
  background-color: #d7d7df;
}
